<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %><br/>
        <%= @user.name %> 
    </h1>
    <h6>
        Email: <%= @user.email %> <br/>
        URL: users/<%= @user.id %>
      </h6>
    </section>
  </aside>
</div>